        </div>
      <div class="col-md-2">
        <div id="chat">
          <h1>Chat</h1>
        </div>
      </div>
      </div>
    </main>
    <script src="/libs/js/jquery.min.js"></script>
    <script src="/libs/js/pixi.min.js"></script>
    <script src="/js/app.js"></script>
  </body>
</html>