<!DOCTYPE html>
<html>
  <head>
    <meta content="author" name="Sentiurin Vladimir">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel='stylesheet' href='/css/style.css'>
  </head>
  <body>
    <div class="row" id="main-row">
      <div class="col-md-1" id="navigation">
        <aside>
          <nav>
            <ul>
              <li><a href="/" class="fa fa-info-circle"></a></li>
              <li><a href="/game" class="fa fa-gamepad"></a></li>
            </ul>
          </nav>
        </aside>
      </div>
      <div class="col-md-10">
        <main class="container-fluid">