<!DOCTYPE html>
<html>
  <head>
    <meta content="author" name="Sentiurin Vladimir">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href='https://fonts.googleapis.com/css?family=Anonymous+Pro:400,700|Montserrat:400,700|Exo+2:400,600,900&amp;subset=latin,cyrillic' rel='stylesheet'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel='stylesheet' href='/css/style.css'>
  </head>
  <body>
    <div class="row" id="main-row">
      <div class="col-md-1" id="navigation">
        <a href="/" id="logo">Bombzai<i>!</i></a>
        <aside>
          <nav>
            <ul>
              <li><a href="/" class="fa fa-info-circle info"></a></li>
              <li><a href="/game" class="fa fa-gamepad game"></a></li>
              <li><a href="/settings" class="fa fa-cogs settings"></a></li>
            </ul>
          </nav>
        </aside>
      </div>
      <div class="col-md-9">
        <main class="container-fluid">