
// Variables

$mt: .2s // Main Transition
$mf: 'Exo 2' // Main Font
$sf: 'Montserrat' // Second Font
$ap: 'Anonymous Pro' // Anonymous Pro
$af: sans-serif, Arial // Alternative Fonts
$mc: #DDFF1F // Main Color #DDFF1F


// Reset

*
  outline: none

::selection
  background-color: $mc
  color: #222

::-moz-selection
  background-color: $mc
  color: #222

ul
  margin-bottom: 0
  padding-left: 0
  list-style: none

a
  &:hover, &:focus, &:active
    text-decoration: none
    color: #fff

h1
  margin: 0


// Main Settings

body
  background-color: #222
  color: #fff
  font-size: 1em
  overflow: hidden
  height: 100%
  min-height: 100%
  position: relative
  font-family: $mf, $af
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  & > *
    opacity: 0

.show-body
  & > *
    transition: .4s
    opacity: 1

section
  display: none
  position: absolute
  box-sizing: border-box
  padding: 20px 60px
  h1
    margin-bottom: 35px
    font-size: 5em

#game
  padding: 0

nav
  cursor: default

.container-fluid, .col-md-9, .col-md-1, .col-md-2
  padding: 0

.container-fluid, .col-md-9, #main-row
  height: 100%

.row
  margin: 0

#message
  position: absolute
  bottom: 10%
  right: 0
  background-color: rgba(0,0,0,.4)
  box-sizing: border-box
  padding: 20px 30px
  opacity: 0
  h3
    font-size: 1.5em
    margin-top: 0
    margin-bottom: 10px
  p
    margin-bottom: 0

h1
  color: #444

p
  color: #aaa
  font-size: 1.5em
  line-height: 25px




// Aside

#navigation
  position: relative
  #logo
    display: block
    transform: rotate(-90deg)
    position: absolute
    right: -37px
    top: 8%
    font: 700 2.5em $sf, $af
    color: #fff
    &:first-letter
      color: $mc
    i
      font-style: normal
      color: $mc

aside
  display: flex
  flex-direction: column
  align-content: center
  justify-content: center
  text-align: center
  background-color: #111
  z-index: 999
  height: 100%
  width: 100%
  box-sizing: border-box
  border-right: 3px solid $mc
  .fa
    font-size: 24px
  nav
    li
      display: block
      width: 100%
      border: 6px solid transparent
      margin: 25px 0
      text-align: center
    a
      display: block
      font: 600 1.5em $mf, $af
      color: #fff
      padding: 5px 10px
      transition: $mt
      &:before
        margin-right: 6px
      &:hover
        color: $mc
    a.exit
      transition: $mt
      &:hover
        color: #FF6B6B
    .active
      border-right: 6px solid $mc
      a
        color: $mc

// Game

#game
  position: relative
  height: 100%
  #game-display
    background-color: rgba(255,255,255,.1)
    overflow: hidden
    width: 100%
    max-width: 100%
    height: 730px
    max-height: 730px
  #grid
    position: absolute
    z-index: 2
    left: 0
    bottom: 0

.map-tile
  width: 20px
  height: 20px
  float: left
  // border-top: 1px solid rgba(255,255,255,.1)
  // border-right: 1px solid rgba(255,255,255,.1)
  box-sizing: border-box

.player
  width: 15px
  height: 15px
  background-color: #000
  position: absolute
  transition: .1s
  top: 2px
  left: 2px

canvas
  display: block
  background-color: #666
  overflow: hidden
  outline: 1px solid #fff


// bar

#bar
  border-top: 3px solid $mc
  width: 150%
  background-color: #111
  position: absolute
  box-sizing: border-box
  padding: 20px
  bottom: 0
  height: 70px
  span
    display: inline-block
    margin: 0 15px
    font: 400 1.5em $ap, $af

// Status Bar

#chat
  background-color: #111
  width: 100%
  border-left: 3px solid $mc
  h1
    text-align: center
    padding-bottom: 15px
    color: #fff
  box-sizing: border-box
  padding: 15px 0
  position: relative
  overflow: hidden
  ul
    display: block
    margin-top: 10px
    width: 100%
    box-sizing: border-box
    padding: 0 20px
    overflow-y: auto
    li
      font-size: 1.5em
      color: #fff
      margin: 4px 0
      &.sys-msg
        font-size: 1.2em
        font-style: italic
        color: $mc * 6

  form
    position: absolute
    bottom: 0
    width: 100%
    border-top: 3px solid $mc
    input
      height: 40px
      font-size: 1.4em
      border: 0
      background-color: #111
      color: #fff
      width: 80%
      float: left
      box-sizing: border-box
      padding: 10px
      &:focus
        &::-webkit-input-placeholder
          color: #fff
          text-indent: -57px
        &::-moz-placeholder
          color: #fff
          text-indent: -57px
        &:-moz-placeholder   
          color: #fff
          text-indent: -57px
        &:-ms-input-placeholder
          color: #fff
          text-indent: -57px
      &::-webkit-input-placeholder
        transition: .3s 
        color: #ccc
      &::-moz-placeholder  
        transition: .3s        
        color: #ccc
      &:-moz-placeholder  
        transition: .3s         
        color: #ccc
      &:-ms-input-placeholder 
        transition: .3s     
        color: #ccc
    button
      height: 40px
      font-size: 1.4em
      border: 0
      background-color: #111
      color: #fff
      width: 20%
      float: left
      box-sizing: border-box
      padding: 12px 0
      transition: $mt
      &:hover
        background-color: #444


#error9001
  display: block !important
  position: absolute
  left: 50%
  top: 50%
  transform: translate(-50%, -50%)
  font-size: 2em
  color: red
  font-weight: bold
  text-align: center
  img
    display: block
    margin: 10px auto

@media (min-width: 1440px)
  h1
    font-size: 5em
  #navigation
    #logo
      font-size: 3em
      top: 10%
  aside
    .fa
      font-size: 3em
  #bar
    span
      font-size: 2em

@media screen and (max-width: 1199px)
  body > *
    display: none