<% include partials/header %>

  <section id="info">
    <h1>О проекте</h1>
  </section>
  <section id="game"></section>
  <section id="settings">
    <h1>Настройки</h1>
  </section>

<% include partials/footer %>