<% include partials/header %>

  <section id="info">
    <h1>О проекте</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem magni ea temporibus placeat officiis iste sequi. Cum aliquam laudantium, cumque exercitationem fugit rerum voluptatem dolor placeat eveniet sequi sapiente labore natus delectus ea deserunt totam tempore maxime praesentium aliquid recusandae magni eius. Optio accusamus nesciunt ullam, dolore, et ipsam. Optio.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam quam blanditiis quod perferendis non ducimus expedita unde fugit dolorem atque.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam quaerat at quo. Culpa possimus tenetur, cum sint facere, nam veniam ipsa repellat molestiae! Quod ipsum cum laudantium, sed! Cupiditate sed, omnis in repudiandae, animi vitae dignissimos, sapiente aut, quibusdam soluta dicta nobis explicabo quas fugit aliquid aperiam. Ipsa dolores vel officiis et temporibus? Deserunt voluptates quas iure ipsa dolor sit magnam quidem, illum illo fugit! Amet expedita quidem quos cumque, ut esse quaerat! Iure ea facere explicabo quod placeat reiciendis iste rerum impedit recusandae quo vel veritatis, sint voluptates quam vero fuga! Perferendis nisi a quasi qui error, dolorum est in beatae, veritatis alias, deleniti odit nihil. Culpa debitis dolore in velit tempora eius voluptas ex, reiciendis, modi, ipsum ipsam illum ad. Hic itaque minus at mollitia aperiam voluptates repellat.</p>
  </section>
  <section id="game"></section>
  <section id="settings">
    <h1>Настройки</h1>
  </section>

<% include partials/footer %>