<% include partials/header %>

  <section id="info">
    <div id="about">
      <h1>О проекте</h1>
      <img src="img/front-page/klich-1.jpg" alt="klich" class="klich">
      <p>Проект <b>"Bombanzai!"</b> является по истине уникальным явлением. Возрожденная легенды (бомбермен) в онлайн баталиях с возможность игры 1x1, 2x2, 3x3, 4x4 и обновленым геймплеем - который добавил не мало нововведений по части возможности кооперироваться в сражении.</p>
      <p>Также важнейшим нововведением является возможность выбора персонажей. Персонажи играют ключевую роль в геймплее. Именно от того как вы сможете со своими союзниками собрать команду из персонажей и зависит победа.</p>
      <p>Зайдя в игру, вы не только сможете выбрать персонажа по душе и стилю (кооперируюсь с союзниками), а также, выбрать режим игры подходящий именно вам. Коих в игре достаточно:</p>
      <ul>
        <li>Одиночная игра</li>
        <li>Кооперативное прохождение</li>
        <li>Лобби</li>
        <li>Обычная игра</li>
        <li>Рейтинговая игра</li>
      </ul>
      <h3>Одиночная игра</h3>
        <p>Описание...</p>
      <h3>Кооперативное прохождение</h3>
        <p>Описание...</p>
      <h3>Лобби</h3>
        <p>Описание...</p>
      <h3>Обычная игра</h3>
        <p>Описание...</p>
      <h3>Рейтинговая игра</h3>
        <p>Описание...</p>
    </div>
    <hr>

    <div id="ui">
      <h2>Интерфейс</h2>
      <h3>Игровые объекты:</h3>
        <div class="object">
          <img src="img/players/player_1/player_1.png" alt="player">
          <span>Игрок</span>
          <ul>
            <li>Походимость: <i>Нет</i></li>
            <li>Разрушаемость: <i>Да</i></li>
          </ul>
          <p>Так выглядит моделька игрока. Руководство по управлению моделькой - читайте в разделе управления: <a href="#controls-info">ниже</a></p>
        </div>
        <div class="object">
          <img src="img/players/bomb.png" alt="bomb">
          <span>Бомба</span>
          <ul>
            <li>Походимость: <i>Нет</i></li>
            <li>Разрушаемость: <i>Да</i></li>
          </ul>
          <p>При взрыве, бомба пускает волну по вертикали и горизонтали. Чем мощнее бомба, тем больше клеток она задевает. По умолчанию: волна задевает по одной клетке по вертикали и горизонтали. Волна способна разрушить ящик. Руководство по установке моделькой читайте в разделе управления: <a href="#controls-info">ниже</a></p>
        </div>
        <div class="object">
          <img src="img/map/wall.png" alt="wall">
          <span>Стена</span>
          <ul>
            <li>Походимость: <i>Нет</i></li>
            <li>Разрушаемость: <i>Нет</i></li>
          </ul>
        </div>
        <div class="object">
          <img src="img/map/box.png" alt="box">
          <span>Ящик </span>
          <ul>
            <li>Походимость: <i>Нет</i></li>
            <li>Разрушаемость: <i>Да</i></li>
          </ul>
          <p>Из ящика могут выпадать всякие ништяки (нет)</p>:D
        </div>
        <h3>Вот так выглядит полная картина интерфейс:</h3>
        <img src="/img/front-page/gameplay-screenshot.png" alt="screen" class="gameplay-screenshot">
    </div>
    <hr>
    <div id="controls-info">
      <h2>Управление</h2>
      <p>Управление вы можете осуществлять посредством надавливания конечностей своих конечностей на стрелки которые (по идее) должны находится справа на вашей клавиатуре.</p>
      <img src="/img/front-page/keyboard-arrows.png" alt="arrows">
      <p>Ежели при надавливании ничего не происходит:</p>
      <ol>
        <li>Надавливание производится не на те клавиши.</li>
        <li>Дисплей игры потерял фокус, и требует нажатие на него.</li>
        <li>Возможно разработчик криворукий и вам нужно это ему сказать.</li>
      </ol>
    </div>
    <!-- <hr> -->
    <!-- <div id="future">
      <img src="img/front-page/klich-2.jpg" alt="klich-2" class="klich">
      <h2>Но мы можем</h2>
      :D
      <h3>О ближайших планах на будущее:</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores earum, ratione impedit architecto necessitatibus dolores, molestias dolore quas vitae delectus, nemo placeat sed soluta sit distinctio iure accusantium repudiandae, reiciendis corporis porro esse rem. Nulla, illo totam delectus quis praesentium. Optio animi, nulla ullam tempore reiciendis laborum maiores placeat nemo?</p>
    </div> -->
    <div class="footer">
      <span>Bombanzai! &copy; 2016</span>
    </div>
  </section>


  <section id="game">
    <div id="top-bar" class="clearfix">
      <div class="row">
        <div class="col-md-12">
          <div id="text">
            <span class="player-2">Player-2: <b>100 / 100</b></span>
            <span id="game-time">0:00</span>
            <span class="player-3">Player-3: <b>100 / 100</b></span>
          </div>
        </div>
      </div>
    </div>
    <div id="bar">
      <div class="row">
        <div class="col-md-3">
          <div id="about-game">
            <div id="ping">
              <span></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="settings">
    <h1>Настройки</h1>
  </section>

<% include partials/footer %>